@import url(@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  max-width: 1440px;
  height: 91px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
   padding: 34px 150px 35px 135px;
}

.header__logo {
  display: block;
  width: 109px;
  height: 45px;
  background-image: url(https://buttered-snowstorm-6f0.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F62e52131-7263-4d62-8f1f-81976a681f2f%2FUntitled.png?table=block&id=297f44b5-472e-4621-8d53-31fbf881894b&spaceId=5652bde3-7d8d-45c1-b530-530532dfd0cb&width=2000&userId=&cache=v2);
  background-repeat: no-repeat;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
  align-items: center;
}

.header__item {
  display: flex;
  align-items: center;
}

.header__link {
  text-transform: uppercase;
  color: #6c6c6c;
  text-decoration: none;
}

.header__link_cart {
  text-transform: none;
  font-family: 'Libre Franklin', sans-serif;
}

.header__item__line {
  width: 1px;
  height: 38px;
  background-color: #ebebeb;
  margin-right: 15px;
}

.header__item__cart {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  height: 708px;
  background-image: url(https://stackblitz.com/files/pompeo/github/katie-soft/pompeo/main/images/background2.png), url(https://stackblitz.com/files/pompeo/github/katie-soft/pompeo/main/background1.png);          
  background-repeat: no-repeat;
  background-position: right; 
}

.main__text {
  padding-left: 144px;
  padding-top: 194px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #D77474;
  line-height: 24px;
}

.main__title {
  display: flex;
}

.title_size-l {
  font-weight: 800;
  font-size: 48px;
}

.title_size-m {
  font-size: 40px;
  font-weight: 800;
  margin: 0 auto;
}

.title_size-s {
  font-size: 29px;
  font-weight: 700;
  margin: 0 auto;
}

.main__img {
  width: 57px;
  height: 57px;
  }

.main__desc {
  font-family: 'Libre Franklin', sans-serif;
}

.button {
  display: block;
  width: 201px;
  height: 62px;
  background-color: #AC1313;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  padding: 19px 31px 21px 40px;
  margin-left: 144px;
  margin-top: 60px;
}

.second-page {
  height: 969px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.circles {
  display: flex;
  height: 240px;
  width: 1440px;
}

.side-text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: #dbdbdb;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.circle {
  width: 240px;
  height: 240px;
  border: 30px solid rgba(0, 0, 0, 0.05);
  border-radius: 240px;
  color:#fff;
  position: relative;
}

.circle_beige {
  background-color: #E4B366;
}

.circle_orange {
  background-color: #F05B10;
}

.circle_red {
  background-color: #A21010;
}

.circle__img {
  
}

.circle__name {
  position: absolute;
  top: calc(50% - 38px/2 + 45px);
  left: calc(50% - 48px/2);
  text-transform: uppercase;
  font-size: 14px;
}

.second-page__text {
  display: flex;
}

.desc {
  font-family: 'Libre Franklin';
  font-size: 14px;
}